spring:
  application:
    name: OAuthDemo

  datasource:
    url: jdbc:postgresql://......
    username: your_username_here
    password: your_password_here
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
      max-lifetime: 300000      # 5 minutes
      idle-timeout: 60000       # 1 minute
      keepalive-time: 30000     # prevents Neon idle close
      validation-timeout: 3000

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: my-client-id
            client-secret: my-client-secret
            scope:
              - openid
              - profile
              - email
        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo

server:
    servlet:
      session:
        timeout: 30m  

    port: 8000  



